.btn-modern {
    padding: 5rem 5rem;
    font-size: 1.25rem;
    border: solid 1px transparent;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.4s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    min-width: 10vw;

}

.btn-modern:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px #999;
    background-color: #1A73E8;
    color: red;
    transition-duration: 4s;
}

.btn-modern::before {
    content: 'PASA POR ENCIMA';

}